<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false" />
    </configSections>
    <unity>
        <namespace name="Tickets.Interface.Repository" />
        <namespace name="Tickets.Module.Repository.Mock" />
        <namespace name="ReusableLibrary.Abstractions.Repository" />
        <namespace name="ReusableLibrary.Abstractions.Services" />
        <namespace name="ReusableLibrary.EntLib" />
        <namespace name="System.Collections" />
        <assembly name="Tickets.Interface" />
        <assembly name="Tickets.Module" />
        <assembly name="ReusableLibrary.Abstractions" />
        <assembly name="ReusableLibrary.EntLib" />
        <!-- Lifetime Managers -->
        <alias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
        <alias alias="PerWebRequest" type="ReusableLibrary.Unity.UnityPerWebRequestLifetimeManager, ReusableLibrary.Unity" />
        <container>
            <!--
        
            Configuration Settings
            
            -->
            <!-- 
        
            Database 
            
            -->
            <register name="MockUserState" type="IDictionary" mapTo="Hashtable">
                <lifetime type="Singleton" />
                <constructor />
            </register>
            <!-- 
        
            UnitOfWork 
            
            -->
            <register name="Tickets" type="IUnitOfWork" mapTo="NullUnitOfWork">
                <lifetime type="Singleton" />
            </register>
            <!-- 
        
            Repositories 
            
            -->
            <register type="IMementoRepository" mapTo="NullMementoRepository">
                <lifetime type="PerWebRequest" />
            </register>
            <register type="IMembershipRepository" mapTo="MembershipRepository">
                <lifetime type="Singleton" />
                <constructor>
                    <param name="state">
                        <dependency name="MockUserState" />
                    </param>
                </constructor>
            </register>
            <register type="ITicketRepository" mapTo="TicketRepository">
                <lifetime type="Singleton" />
            </register>
        </container>
    </unity>
</configuration>