<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false" />
    </configSections>
    <unity>
        <namespace name="Tickets.Interface.Repository" />
        <namespace name="Tickets.Interface.Repository.Caching" />
        <namespace name="ReusableLibrary.Abstractions.Bootstrapper" />
        <namespace name="ReusableLibrary.Abstractions.Caching" />
        <namespace name="ReusableLibrary.Abstractions.Repository" />
        <namespace name="ReusableLibrary.EntLib" />
        <assembly name="Tickets.Interface" />
        <assembly name="ReusableLibrary.Abstractions" />
        <assembly name="ReusableLibrary.EntLib" />
        <!-- Lifetime Managers -->
        <alias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
        <alias alias="PerWebRequest" type="ReusableLibrary.Unity.UnityPerWebRequestLifetimeManager, ReusableLibrary.Unity" />
        <container>
            <!--
        
            Configuration Settings
            
            -->
            <!-- 
        
            Database 
            
            -->
            <!-- Used by DefaultCache -->
            <register type="ICache" mapTo="Cache">
                <lifetime type="Singleton" />
                <constructor>
                    <param name="cacheManagerName">
                        <value value="DefaultCacheManager" />
                    </param>
                </constructor>
            </register>
            <!-- 
        
            Bootstrapper Tasks 
            
            -->
            <register name="cacheStartupTask" type="IStartupTask" mapTo="CacheStartupTask" />
            <!-- 
        
            Repositories 
            
            -->
            <register name="Caching" type="IMementoRepository" mapTo="CachingMementoRepository">
                <lifetime type="PerWebRequest" />
                <constructor>
                    <param name="innerRepository">
                        <dependency />
                    </param>
                    <param name="cache">
                        <dependency name="Tickets" />
                    </param>
                </constructor>
                <property name="Lifetime">
                    <value value="00:15:00" />
                </property>
            </register>
            <register name="Caching" type="IMembershipRepository" mapTo="MembershipRepository">
                <lifetime type="PerWebRequest" />
                <constructor>
                    <param name="innerRepository">
                        <dependency />
                    </param>
                </constructor>
            </register>
            <register name="Caching" type="ITicketRepository" mapTo="TicketRepository">
                <lifetime type="PerWebRequest" />
                <constructor>
                    <param name="innerRepository">
                        <dependency type="ITicketRepository" />
                    </param>
                    <param name="cache">
                        <dependency name="Tickets" />
                    </param>
                </constructor>
                <property name="ItemLifetime">
                    <value value="00:01:00" />
                </property>
                <property name="SearchResultLifetime">
                    <value value="00:00:10" />
                </property>
            </register>
        </container>
    </unity>
</configuration>