<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false" />
    </configSections>
    <unity>
        <namespace name="Tickets.Interface.Repository" />
        <namespace name="Tickets.Module.Repository" />
        <namespace name="ReusableLibrary.Abstractions.Repository" />
        <namespace name="ReusableLibrary.Abstractions.Services" />
        <namespace name="ReusableLibrary.Supplemental.Repository" />
        <namespace name="System.Data.Linq" />
        <assembly name="Tickets.Interface" />
        <assembly name="Tickets.Module" />
        <assembly name="ReusableLibrary.Abstractions" />
        <assembly name="ReusableLibrary.Supplemental" />
        <assembly name="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <!-- Lifetime Managers -->
        <alias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
        <alias alias="PerWebRequest" type="ReusableLibrary.Unity.UnityPerWebRequestLifetimeManager, ReusableLibrary.Unity" />
        <container>
            <!--
        
            Configuration Settings
            
            -->
            <register name="ApplicationServices" type="DbConnectionStringProvider">
                <lifetime type="Singleton" />
                <constructor>
                    <param name="name" type="string">
                        <value value="ApplicationServices" />
                    </param>
                </constructor>
            </register>
            <!-- 
        
            Database 
            
            -->
            <register name="Tickets" type="DataContext" mapTo="TicketsDataContext">
                <lifetime type="PerWebRequest" />
                <constructor>
                    <param name="provider">
                        <dependency name="ApplicationServices" />
                    </param>
                </constructor>
            </register>
            <!-- 
        
            UnitOfWork 
            
            -->
            <register name="Tickets" type="IUnitOfWork" mapTo="DefaultUnitOfWork">
                <constructor>
                    <param name="context">
                        <dependency name="Tickets" />
                    </param>
                </constructor>
            </register>
            <!-- 
        
            Repositories 
            
            -->
            <register type="IMementoRepository" mapTo="NullMementoRepository">
                <lifetime type="PerWebRequest" />
            </register>
            <register type="IMembershipRepository" mapTo="MembershipRepository">
                <lifetime type="PerWebRequest" />
                <constructor>
                    <param name="context">
                        <dependency name="Tickets" />
                    </param>
                </constructor>
            </register>
            <register type="ITicketRepository" mapTo="TicketRepository">
                <lifetime type="PerWebRequest" />
                <constructor>
                    <param name="context">
                        <dependency name="Tickets" />
                    </param>
                </constructor>
            </register>
        </container>
    </unity>
</configuration>