<validation>
    <type defaultRuleset="Rule Set" assemblyName="ReusableLibrary.Captcha" name="ReusableLibrary.Captcha.ITuringNumber">
        <ruleset name="Rule Set">
            <properties>
                <property name="TuringNumber">
                    <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
                      upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="RequiredString"
                      messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Required Validator" />
                    <validator lowerBound="4" lowerBoundType="Inclusive" upperBound="0"
                      upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="SubcedesMinLength"
                      messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Min Length Validator" />
                    <validator lowerBound="0" lowerBoundType="Ignore" upperBound="4"
                      upperBoundType="Inclusive" negated="false" messageTemplate="" messageTemplateResourceName="ExceedsMaxLength"
                      messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Max Length Validator" />
                </property>
            </properties>
        </ruleset>
    </type>
    <type defaultRuleset="Rule Set" assemblyName="Public.Web" name="Public.WebMvc.Models.LogonViewData">
        <ruleset name="Rule Set">
            <properties>
                <property name="Details">
                    <validator targetRuleset="Rule Set" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ObjectValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="Object Validator" />
                </property>
            </properties>
        </ruleset>
    </type>
    <type defaultRuleset="Rule Set" assemblyName="Tickets.Interface" name="Tickets.Interface.Models.UserCredentials">
        <ruleset name="Rule Set">
            <properties>
                <property name="UserName">
                    <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
                      upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="RequiredString"
                      messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Required Validator" />
                    <validator lowerBound="2" lowerBoundType="Inclusive" upperBound="0"
                      upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="SubcedesMinLength"
                      messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Min Length Validator" />
                    <validator lowerBound="0" lowerBoundType="Ignore" upperBound="30"
                      upperBoundType="Inclusive" negated="false" messageTemplate="" messageTemplateResourceName="ExceedsMaxLength"
                      messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Max Length Validator" />
                </property>
                <property name="Password">
                    <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
                      upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="RequiredString"
                      messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Required Validator" />
                    <validator lowerBound="8" lowerBoundType="Inclusive" upperBound="0"
                      upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="SubcedesMinLength"
                      messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Min Length Validator" />
                    <validator lowerBound="0" lowerBoundType="Ignore" upperBound="12"
                      upperBoundType="Inclusive" negated="false" messageTemplate=""
                      messageTemplateResourceName="ExceedsMaxLength" messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Max Length Validator" />
                </property>
            </properties>
        </ruleset>
    </type>
    <type defaultRuleset="Rule Set" assemblyName="Tickets.Interface" name="Tickets.Interface.Models.UserInfo">
        <ruleset name="Rule Set">
            <properties>
                <property name="DisplayName">
                    <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
                      upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="RequiredString"
                      messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Required Validator" />
                    <validator lowerBound="0" lowerBoundType="Ignore" upperBound="30"
                      upperBoundType="Inclusive" negated="false" messageTemplate=""
                      messageTemplateResourceName="ExceedsMaxLength" messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Max Length Validator" />
                </property>
                <property name="Email">
                    <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="0"
                      upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="RequiredString"
                      messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Required Validator" />
                    <validator lowerBound="6" lowerBoundType="Inclusive" upperBound="0"
                      upperBoundType="Ignore" negated="false" messageTemplate="" messageTemplateResourceName="SubcedesMinLength"
                      messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Min Length Validator" />
                    <validator lowerBound="0" lowerBoundType="Ignore" upperBound="30"
                      upperBoundType="Inclusive" negated="false" messageTemplate=""
                      messageTemplateResourceName="ExceedsMaxLength" messageTemplateResourceType="Tickets.Interface.Properties.Resources, Tickets.Interface"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="String Max Length Validator" />
                </property>
            </properties>
        </ruleset>
    </type>
    <type defaultRuleset="Rule Set" assemblyName="Tickets.Interface" name="Tickets.Interface.Models.UserSignUpInfo">
        <ruleset name="Rule Set">
            <properties>
                <property name="Credentials">
                    <validator targetRuleset="Rule Set" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ObjectValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="Object Validator" />
                </property>
                <property name="Info">
                    <validator targetRuleset="Rule Set" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ObjectValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="Object Validator" />
                </property>
            </properties>
        </ruleset>
    </type>
    <type defaultRuleset="Rule Set" assemblyName="Public.WebMvc" name="Public.WebMvc.Models.RegisterViewData">
        <ruleset name="Rule Set">
            <properties>
                <property name="Details">
                    <validator targetRuleset="Rule Set" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ObjectValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="Object Validator" />
                </property>
                <property name="Password">
                    <validator operator="Equal" propertyToCompare="ConfirmPassword"
                      negated="false" messageTemplate="" messageTemplateResourceName="PasswordMissMatch"
                      messageTemplateResourceType="Public.WebMvc.Properties.Resources, Public.WebMvc"
                      tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.PropertyComparisonValidator, Microsoft.Practices.EnterpriseLibrary.Validation, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                      name="Property Comparison Validator" />
                </property>
            </properties>
        </ruleset>
    </type>
</validation>