<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <appSettings/>
    <connectionStrings>
        <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Initial Catalog=Tickets;Integrated Security=SSPI;Application Name=Tickets;Max Pool Size=10"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>