<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tickets" connectionString="data source=.\SQLEXPRESS;Initial Catalog=Tickets;Integrated Security=SSPI;Application Name=Tickets"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="UnityBootstrapLoader" value="exception;repository;unity" />
    </appSettings>
    <system.diagnostics>
        <sources>
            <source name="Error" switchName="InformationSwitch">
                <listeners>
                    <add name="Console"/>
                </listeners>
            </source>
            <source name="Bootstrapper" switchName="InformationSwitch">
                <listeners>
                    <add name="Console"/>
                </listeners>
            </source>
            <source name="WorkItemBackgroundTask" switchName="InformationSwitch">
                <listeners>
                    <add name="Console"/>
                </listeners>
            </source>
            <source name="EscalateOverdueTicketWorkItem" switchName="InformationSwitch">
                <listeners>
                    <add name="Console"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <!-- You can set the level at which tracing is to occur -->
            <add name="InformationSwitch" value="Information"/>
            <add name="WarningSwitch" value="Warning"/>
            <add name="OffSwitch" value="Off" />
            <!-- You can turn tracing off -->
            <!--add name="GlobalSwitch" value="Off" -->
        </switches>
        <trace autoflush="true">
            <listeners>
                <clear />
                <add name="Console" type="System.Diagnostics.ConsoleTraceListener" />
            </listeners>
        </trace>
        <sharedListeners>
            <add name="Console" type="ReusableLibrary.Abstractions.Tracing.ConsoleTraceListener, ReusableLibrary.Abstractions"
         traceOutputOptions="DateTime, ThreadId"/>
        </sharedListeners>
    </system.diagnostics>
</configuration>