<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false" />
    </configSections>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <namespace name="ReusableLibrary.Abstractions.Tracing"/>
        <assembly name="ReusableLibrary.Abstractions"/>
        <!-- Lifetime Managers -->
        <alias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
        <container>
            <!-- 
        
            Exception Trace Policy 
            
            -->
            <register type="IExceptionHandler" mapTo="ExceptionPolicyHandler">
                <lifetime type="Singleton"/>
                <property name="Chain">
                    <array>
                        <dependency name="Trace" />
                        <dependency name="EventLog" />
                        <dependency name="Null"  />
                    </array>
                </property>
            </register>
            <register name="Trace" type="IExceptionHandler" mapTo="TraceExceptionHandler">
                <lifetime type="Singleton"/>
                <constructor>
                    <param name="traceSourceName" type="System.String">
                        <value value="Error" />
                    </param>
                </constructor>
            </register>
            <register name="EventLog" type="IExceptionHandler" mapTo="EventLogExceptionHandler">
                <lifetime type="Singleton"/>
                <constructor>
                    <param name="sourceName" type="System.String">
                        <value value=".NET Runtime 2.0 Error Reporting" />
                    </param>
                    <param name="eventId" type="System.Int32">
                        <value value="5000" />
                    </param>
                </constructor>
            </register>
            <register name="Null" type="IExceptionHandler" mapTo="NullExceptionHandler">
                <lifetime type="Singleton"/>
            </register>
        </container>
    </unity>
</configuration>